input {
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    outline: none;
    background-color: #fcfafa;
    margin-top: 10px;
}

button.primeiro {
    margin-top: 20px;
    background-color: rgb(3, 194, 3);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.0em;
    font-weight: bold;
    cursor: pointer;
    /* margin: 10px; */
}

a {
    background-color: #e2e0e0;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

a {
    font-size: 0.8em;
    font-weight: bold;
    margin: 10px;
    color: #8f8e8e;
}